@using AttendanceTracker.Controllers;
@model  IEnumerable<AttendanceTracker.Models.PlayerAttendance>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{var controller = (AdminController)ViewContext.Controller;}
<h3>Roster List</h3>
<div id="messagesDiv">
    <table class="table hover" id="attendance">
        <thead><tr><th>Name</th><th>Role</th><th></th></tr></thead>
        <tbody>
            @{
                var roleList = controller.GetUserRoles();
                foreach (var x in controller.GetCurrentUsers())
                {
                    <tr>
                        <td>@x.Name</td>
                        @if (controller.RoleCanBeChanged(x))
                        {
                            var tempRoleList = controller.GetRolesForThisUser(roleList.Where(y => !y.Role.Equals(x.Role)));
                            <td>
                                <select id="@x.Id">
                                    <option>@x.Role</option>
                                    @foreach (var role in tempRoleList)
                                    {
                                        <option>@role.Role</option>
                                    }
                                </select>
                            </td>
                        }
                        else
                        {
                            <td>@x.Role</td>
                        }
                        <td><button class="btn btn-success" onclick='UpdateUser("@x.Id");' >Save</button></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>