<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shattering Attendance Tracker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Attendance", "Index", "Home")</li>
                    <li>@Html.ActionLink("Loot List", "Bosses", "Account")</li>
                    <li>@Html.ActionLink("Roster", "RosterInfo", "Home")</li>
                    @{
                        if (Session["UserName"] == null)
                        {
                            <li>@Html.ActionLink("Login", "Login", "Account")</li>
                            <li>@Html.ActionLink("Create Account", "Index", "Account")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                            <li>@Html.ActionLink("Roster List", "RosterList", "Admin")</li>
                            <li>@Html.ActionLink("Roster Configuration", "BossListConfiguration", "Admin")</li>
                            <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                        }
                    }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
</body>
</html>
