@using AttendanceTracker.Controllers;
@model  IEnumerable<AttendanceTracker.Models.PlayerAttendance>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{var controller = (HomeController)ViewContext.Controller; }
<br />
<span class="validation alert-danger"></span>
<input type="text" id="password" class="form-control" placeholder="password">
<select class="form-control" id="nameInput">
    @{
        foreach (var x in controller.GetCurrentRoster())
        {
            <option value="@x.Name">@x.Name</option>
        }
    }
</select>
<input class="datepicker form-control" type="text" id="messageInput" placeholder="Select Date">
<br /><br />
<input type="button" class="btn btn-success" id="btnGet" value="Submit" onclick="CallMethod();" />

<hr />
<div id="messagesDiv" class="searchable">
    <table class="table hover" id="attendance">
        <thead><tr><th>Name</th><th>Date</th><th>Day</th><th></th></tr></thead>
        <tbody>
            @{
                foreach (var x in controller.GetCurrentDataBase())
                {
                    <tr>
                        <td>@x.Name</td>
                        <td>@x.Date.Value.ToString("dd/MM/yyyy")</td>
                        <td>@x.Date.Value.DayOfWeek</td>
                        <td><input type="button" class="btn btn-danger" onclick='DeleteMethod("@x.Id");' value="Delete" /></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>