@{
    ViewBag.Title = "Table Results";
}
<h1>Bosses</h1>
@using AttendanceTracker.Controllers;

@model  IEnumerable<AttendanceTracker.Models.BossesNeeded>
@{
    var list = Model;
    var loginAs = Session["UserName"] ?? null;
}
<table class="table table-striped" id="attendance">
    <thead><tr><th>Name</th><th>Goroth</th><th>Demonic Inquisition</th><th>Harjatan</th><th>Sisters of the Moon</th><th>Desolate Host</th><th>Misstress Sassz'ine</th><th>Maiden of Vigilance</th><th>Fallen Avatar</th><th>Kil'Jaeden</th><td></td></tr></thead>
    <tbody>
        @{
            var controller = (AccountController)ViewContext.Controller;
            foreach (var x in list)
            {
                if (loginAs != null && x.User.Equals(loginAs.ToString()))
                {
                    <tr>
                        <td>@x.User</td>
                        <td>
                            <select id="boss1">
                                <option value="@x.Goroth">@x.Goroth</option>
                                <option value="@(!x.Goroth)">@(!x.Goroth)</option>
                            </select>
                        </td>
                        <td>
                            <select id="boss2">
                                <option value="@x.Di">@x.Di</option>
                                <option value="@(!x.Di)">@(!x.Di)</option>
                            </select>
                        </td>
                        <td>
                            <select id="boss3">
                                <option value="@x.Harjatan">@x.Harjatan</option>
                                <option value="@(!x.Harjatan)">@(!x.Harjatan)</option>
                            </select>
                        </td>
                        <td>
                            <select id="boss4">
                                <option value="@x.Sisters">@x.Sisters</option>
                                <option value="@(!x.Sisters)">@(!x.Sisters)</option>
                            </select>
                        </td>
                        <td>
                            <select id="boss5">
                                <option value="@x.Host">@x.Host</option>
                                <option value="@(!x.Host)">@(!x.Host)</option>
                            </select>
                        </td>
                        <td>
                            <select id="boss6">
                                <option value="@x.Mistress">@x.Mistress</option>
                                <option value="@(!x.Mistress)">@(!x.Mistress)</option>
                            </select>
                        </td>
                        <td>
                            <select id="boss7">
                                <option value="@x.Maiden">@x.Maiden</option>
                                <option value="@(!x.Maiden)">@(!x.Maiden)</option>
                            </select>
                        </td>
                        <td>
                            <select id="boss8">
                                <option value="@x.FallenAvatar">@x.FallenAvatar</option>
                                <option value="@(!x.FallenAvatar)">@(!x.FallenAvatar)</option>
                            </select>
                        </td>
                        <td>
                            <select id="boss9">
                                <option value="@x.Kiljaeden">@x.Kiljaeden</option>
                                <option value="@(!x.Kiljaeden)">@(!x.Kiljaeden)</option>
                            </select>
                        </td>
                        <td>
                            <input type="button" class="btn btn-success" value="Update" onclick='UpdateUserBosses("@x.Id")'/>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>@x.User</td>
                        <td style="color:@Html.Raw((x.Goroth) ? "red" : "green")">@x.Goroth</td>
                        <td style="color:@Html.Raw((x.Di) ? "red" : "green")">@x.Di</td>
                        <td style="color:@Html.Raw((x.Harjatan) ? "red" : "green")">@x.Harjatan</td>
                        <td style="color:@Html.Raw((x.Sisters) ? "red" : "green")">@x.Sisters</td>
                        <td style="color:@Html.Raw((x.Host) ? "red" : "green")">@x.Host</td>
                        <td style="color:@Html.Raw((x.Mistress) ? "red" : "green")">@x.Mistress</td>
                        <td style="color:@Html.Raw((x.Maiden) ? "red" : "green")">@x.Maiden</td>
                        <td style="color:@Html.Raw((x.FallenAvatar) ? "red" : "green")">@x.FallenAvatar</td>
                        <td style="color:@Html.Raw((x.Kiljaeden) ? "red" : "green")">@x.Kiljaeden</td>
                        <td></td>
                    </tr>
                }
            }
        }
    </tbody>
</table>


@{

    if (loginAs == null)
    {
        <footer>Not Logged In</footer>
    }
    else
    {
        <footer>Logged in as: @loginAs.ToString()</footer>
    }
}
